<div class="jumbotron">
    <div class="container" id="main">
        <p></br>Customer SMS and Email Notification Management System</p>

        <form class="form-inline" action="/search/" method="post">
            {% csrf_token %}
            <a class="btn btn-primary" href="#" role="button" id="add">Add Customer</a>&nbsp;&nbsp;or&nbsp;&nbsp;
            <select name="criteria">
                        <option value="last_name">Last Name</option>
                        <option value="first_name">First Name</option>
                        <option value="phone_number">Phone Number</option>
                        <option value="account_id">Account Number</option>
                        <option value="email_address">Email Address</option>
                    </select>
            <input type="text" placeholder="Lookup Customer" name="search" class="form-control">
            <input type="submit" href="/search" class="btn btn-primary" value="Search">
        </form>

    </div>
    <div class="container" id="new_cust" hidden="true">
        <p></br>Customer SMS and Email Notification Management System</p>
        <p>Fill out Form to Add New Customer<br>
        <form class="form-inline" action="/" method="post">
            <table>
                {% csrf_token %}
                {{ form.as_table }}
            </table>
            </br>
            <a class="btn btn-primary" href="#" role="button" id="cancel">Cancel &raquo;</a>
            <input class="btn btn-primary" href="#" id="create" type="submit" value="Create Customer">
        </form>
        </p>
    </div>
</div>