<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/favicon.ico">
    {% load staticfiles %}
    <link href="{% static 'tellme/feedback.css' %}" rel="stylesheet">

    <title>Sun Loan Notification Manager</title>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js" rel="stylesheet">

    {% load staticfiles %}
    <!-- Custom styles for this template -->
    <link href="{% static "jumbotron.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "ie-emulation-modes-warning.js" %}"></script>
   <!--  <script src="{% static 'tellme/feedback.min.js' %}"></script> -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% include "nav.html" %}

{% if action == 'edit' %}
    {% include "edit.html" %}
{% else %}
    {% include "add.html" %}
{% endif %}

{% if customer %}
    {% include "view.html" %}
{% endif %}
<div class="container">
    <div class="row">
        <div>
            <h2>Recent Customers</h2>
            <p>
                {% if customer_list %}
                    <ul>
                        {% for customer in customer_list %}
                            <li>{{ customer.first_name }}&nbsp;{{ customer.last_name }}&nbsp;{{ customer.email_address }}&nbsp;{{ customer.status.status_name }}
                                <a class="btn btn-med" href="/?customer_id={{ customer.id }}"
                                   role="button">View &raquo;</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No Customer Information Available.</p>
                {% endif %}
            </p>
        </div>
    </div>
    <hr>
    <footer>

        <p>&copy; Copyright 2016 Sun Loan Company</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script>
    $(document).ready(function () {
        $("#add").click(function () {
            $("#main").hide();
            $("#new_cust").show();
        });
        $("#cancel").click(function () {
            $("#main").show();
            $("#new_cust").hide();
        });
        $("ul.errorlist").each(function (index) {
            $(this).appendTo($(this).parent());
        });

    });
    function isEmail(id_email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(id_email);
    }
    function phonenumber(inputtxt) {
        var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        if (inputtxt.value.match(phoneno)) {
            return true;
        }
        else {
            alert("Not a valid Phone Number - Enter as 9999999999");
            return false;
        }
    }
</script>
<script type="text/javascript">
    document.body.onload = function () {
        var error = $('#phone_error').val();
        if (error != null) {
            $("#add").click()
        }
    }
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>
{% comment %}
<script type="text/javascript">
    $(function () {
        $.feedback({
            ajaxURL: "{% url 'tellme:post_feedback' %}",
            html2canvasURL: "{% static 'tellme/html2canvas.min.js' %}",
            feedbackButton: "#feedback-btn",
            initButtonText: "{% filter escapejs %}{%  include 'tellme/initButtonText.txt' %}{% endfilter %}",
            postHTML: false,
            tpl: {
                description: "{% filter escapejs %}{%  include 'tellme/tpl-description.html' %}{% endfilter %}",
                highlighter: "{% filter escapejs %}{%  include 'tellme/tpl-highlighter.html' %}{% endfilter %}",
                overview: "{% filter escapejs %}{%  include 'tellme/tpl-overview.html' %}{% endfilter %}",
                submitSuccess: "{% filter escapejs %}{%  include 'tellme/tpl-submit-success.html' %}{% endfilter %}",
                submitError: "{% filter escapejs %}{%  include 'tellme/tpl-submit-error.html' %}{% endfilter %}"
            },
            initialBox: true
        });
    });
</script>{% endcomment %}
</body>
</html>


