<div class="jumbotron">
    <div class="container" id="main">
        <div class="row" id="send">
            </br></br></br>
            <p>
            <h4>Customer Details - <strong>{{ customer.first_name }}&nbsp;{{ customer.last_name }}</strong> - <strong>
                (Account ID: </strong>{{ customer.account_id }}<strong>)</strong></h4>
            </br>
            <div class="col-md-6">
                <strong>Email Address: </strong>{{ customer.email_address }} &nbsp;&nbsp;&nbsp; <strong>Phone
                Number: </strong>{{ customer.phone_number }}
                </br>
                <form class="form-inline" action="/view/?customer_id={{ customer.id }}" method="post">
                {% csrf_token %}
                    </br>
                    <select name="message" class="form-control">
                        <option value="">-- Select Notification --</option>
                        {% for message in notifications %}
                            <option value="{{ message.id }}">{{ message.name }}</option>
                        {% endfor %}
                    </select></br></br>
                    <input type="hidden" value="{{ customer.id }}" name="cust_id">
                    <input class="btn btn-primary" id="notify" type="submit" value="Send Notification">
                </form>
                </br>
                <a class="btn btn-primary" href="/" role="button" id="reload">Cancel</a>
            </div>
            </p>
        </div>
        <hr>
    </div>
</div>