    <div class="container">
        <h1>Customer Details</h1>
        <p>
        <ul>
        <li><strong>Customer Name:</strong> {{ customer.first_name }}&nbsp;{{ customer.last_name }}</li>
        <li><strong>Customer Email:</strong>{{ customer.email_address }}</li>
        <li><strong>Customer Number:</strong>{{ customer.phone_number }}</li>
        <li><strong>Customer Notifications:</strong> {{ customer.messagetype }}</li>
        <a class="btn btn-med" href="/?customer_id={{ customer.id }}&action=edit" role="button">Edit Customer Data</a>
        </ul>
        </p>
    </div>